@page "/benzin"
@using System.Text.Json
@using System.Text.Json.Serialization
@inject HttpClient Client

<h1>Calling web API for benzin prices over the years</h1>

@if (benzin is null)
{
    <p>bad luck</p>
}
else
{
    <ApexChart TItem="fuelAPI"
               Title="Benzin Prices">

        <ApexPointSeries TItem="fuelAPI"
                         Items="benzin"
                         SeriesType="@SeriesType.Area"
                         Name="Benzin"
                         XValue="@(e => e.Date)"
                         YValue="@(e => e.Price)" />
    </ApexChart>
}
@code {
    private List<fuelAPI>? benzin;

    protected override async Task OnInitializedAsync()
    {

        base.OnInitialized();
        benzin = await Client.GetFromJsonAsync<List<fuelAPI>>("https://magsapi.onrender.com/api/miles95");
    }
}