@page "/diesel"
@using System.Text.Json
@using System.Text.Json.Serialization
@inject HttpClient Client

<h1>Call web API from a Blazor Server Razor component</h1>

@if (branches is null)
{
    <p>bad luck</p>
}
else
{
    <ApexChart TItem="GitHubBranch"
               Title="Diesel Priser">

        <ApexPointSeries TItem="GitHubBranch"
                         Items="branches"
                         SeriesType="@SeriesType.Area"
                         Name="Gross Value"
                         XValue="@(e => e.Date)"
                         YValue="@(e => e.Price)" />
    </ApexChart>
}
@code {
    private List<GitHubBranch>? branches;
    private bool getBranchesError;

    protected override async Task OnInitializedAsync()
    {

        var response = await Client.GetFromJsonAsync<List<GitHubBranch>>("https://magsapi.onrender.com/api/diesel");
        branches = response;
        StateHasChanged();
    }

    public class GitHubBranch
    {
        public decimal Price { get; set; }
        public DateTime Date { get; set; }
    }
}