@page "/diesel"
@using System.Text.Json
@using System.Text.Json.Serialization
@inject HttpClient Client

<h1>Calling web API for diesel prices over the years</h1>

@if (diesel is null)
{
    <p>bad luck</p>
}
else
{
    <ApexChart TItem="fuelAPI"
               Title="Diesel Prices">

        <ApexPointSeries TItem="fuelAPI"
                         Items="diesel"
                         SeriesType="@SeriesType.Area"
                         Name="Diesel"
                         XValue="@(e => e.Date)"
                         YValue="@(e => e.Price)" />
    </ApexChart>
}
@code {
    private List<fuelAPI>? diesel;

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        diesel = await Client.GetFromJsonAsync<List<fuelAPI>>("https://magsapi.onrender.com/api/diesel");
    }
}